.btn {
  border-radius: 6px;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.25s;
  border: none;
  line-height: 26px;
  color: #fff;
}
.btn-blue:hover {
  background: #222096;
}

.btn-blue {
  margin-top: 30px;
  background: #312eb5;
}