.journal-form {
  display: flex;
  flex-direction: column;
}

.input {
  border: none;
  background: none;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 5px;
  width: 100%;
  font-size: 14px;
}

.form-lable {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 100px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0;
}

.invalid {
  border: 1px solid #ff0000;
  background: rgb(68, 6, 6);
  color: #fff;
}

.delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 30px;
  width: 30px;
}

.delete:hover {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}
