.left-panel {
  flex-basis: 400px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media (max-width: 991px) {
  .left-panel {
    flex-basis: 100%;
  }
}
@media (max-width: 480px) {
  .left-panel img {
    display: block;
    margin: 0 auto;
  }
}
